version: '3.8'

services:
  app:
    build: .
    ports:
      - "5000:5000"
    environment:
      - ACBF_BACKEND_HOST=0.0.0.0

  frontend:
    image: node:18
    working_dir: /app
    volumes:
      - ./dapp/frontend:/app
    command: ["sh", "-c", "npm install && npm start"]
    ports:
      - "3000:3000"
    environment:
      - REACT_APP_BACKEND_URL=http://localhost:5000
